body {
	background-color: #225d98;
}

#splash-pg-links {
	font-size: 1.5em;
}

.modal-header {
	background-color: inherit;
}

.modal-header h1 {
	color: azure;
	font-size: 5em;
}

.modal-header p {
	font-size: 2em;
	color: azure;
}


.btn-lg a {
	color: azure;
}

.jumbotron a {
	color: #225d98;
}

.jumbotron p {
	font-size: 2em;
}

a {
	text-align: center;
	color: azure;
}

.table a {
	color: #225d98;
}


.table th {
	font-size: 2em;
}

.comment-form {
	padding: 50px;
}

.splash-title img {
	text-align: center;
	padding-bottom: 30px;
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;
}

/*colors 
225d98

*/