<div class="modal-header text-center">
	<h1>The Mystic Programmer</h1>
</div>

	<!-- <div class="splash-title container jumbotron img-thumbnail"> -->
	<!-- </div> -->

<div class="splash-title container jumbotron text-center">
	<img src="/images/mystic_man.png" alt="mystic-programmer-logo">

	<p>I'm just a programmer interested in the code of life...</p>

	<div id="splash-pg-links">
		<%= link_to 'Blog Entries', controller: 'articles' %>  | <%= link_to 'New Article', new_article_path %>
  </div>

</div>